node_modules/
# Would ordinarily include the following two folders as well:
# example-html/
# mockups/
# ... but they're left in for now, for the purpose of peer-reviewing the final
# look and feel of the project.
# Also this one kept turning up at random:
.DS_Store
# (Well, maybe not **literally** at random.)