extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Home page
  article.grid-container.portfolio-intro
    div
      h1= `${error.status} - ${url}`
      p.lead.text-light
      block errorMessage