extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Home page
  article.grid-container.portfolio-intro
    div
      if url
        h1= `Error status ${error.status} - not found`
        h2.url= url
      else
        h1=`Error status ${error.status} - Evil has befallen...`
      p.lead.text-light
      block errorMessage