/* 
  First: the custom CSS colours, which are used for the paragraph text.
*/

:root {
  --darkGrey: #404040;
  --lightGrey: #e0e0e0;
}

/* 
  And now, on to the original CSS.
*/

h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: var(--darkGrey);
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: var(--darkGrey);
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: var(--lightGrey);
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: var(--lightGrey);
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}
/* 
  Additional CSS starts here.
  ToDo: re-factor the whole lot using BEM, thereby avoiding the specificity wars that
        drove me INSANE trying to get the thumbnail styles to work. (Though on the 
        plus side, one of the fruitless early attempts to fix this resulted in my finding
        out how to override the default extensions in nodemon. Every day's a school day,
        as they say.

        Thanks for listening.
*/
.url {
  font-family: monospace;
  color: #000;
  font-size: 2rem;
}

article {
  background-color: var(--lightGrey);
}

.portfolio-index .thumbnail:hover{
  box-shadow: 5px 5px 2px 0.5rem var(--darkGrey);
  margin-bottom: 1rem;
  transition: 0.2s 
}

#cookieWall {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  background-color: #111;
  opacity: 0.85;
  z-index: 1000;
  padding: 0.5rem;
}

#cookieWall button {
  color: #fff;
  cursor: pointer;
  background: #000;
  border: 2px #fff solid;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 12rem;
}

#cookieWall p {
  color: #fff;
  margin: 0.5rem 4rem;
}

#cookieWall h2 {
  color: #fff;
  margin: 1rem 4rem;
}